<table>
  <thead>
    <tr>
      <th>stt</th>
      <th>avatar</th>
      <th>name</th>
      <th>category</th>
      <th>author</th>
      <th>description</th>
      <th>views</th>
      <th>like</th>
      <th>price</th>
      <th>option</th>
    </tr>
  </thead>
  <tbody>
    <% listManga.map((manga, index) =>{%>
    <tr>
      <td><%= index %></td>
      <td><img src="<%= manga.avatar %>" alt="avatar" width="50px" /></td>
      <td><%= manga.name %></td>
      <td><%= manga.category %></td>
      <td><%= manga.author %></td>
      <td><%= manga.description %></td>
      <td><%= manga.views %></td>
      <td><%= manga.like %></td>
      <td><%= manga.price %></td>
      <td><%= manga._id %></td>
      <td>
        <button onclick="editManga('<%= manga._id %>')">edit</button>
        <button onclick="viewManga('<%= manga._id %>')">view details</button>
        <button onclick="deleteManga('<%= manga._id %>')">delete</button>
      </td>
    </tr>
    <%})%>
  </tbody>
</table>
<!-- <script src="/views/pages/manga/viewAllManga/viewAllManga.js"></script> -->
